In [2]:
import pandas as pd
import numpy as np

# Load dataset
df = pd.read_csv("../ecommerce_customer.csv")

print("Initial Shape:", df.shape)
print(df.info())

# Check missing values
print("\nMissing Values:\n", df.isnull().sum())

# Fill numerical missing values with median
num_cols = df.select_dtypes(include=["int64", "float64"]).columns
df[num_cols] = df[num_cols].fillna(df[num_cols].median())


# Fill categorical missing values with mode
cat_cols = df.select_dtypes(include=["object"]).columns
df[cat_cols] = df[cat_cols].fillna(df[cat_cols].mode().iloc[0])

# Filling with median values for rate_columns
rate_columns = ["Cart_Abandonment_Rate",
    "Returns_Rate",
    "Email_Open_Rate",
    "Discount_Usage_Rate"]

for col in rate_columns:
    df[col] = df[col].fillna(df[col].median())

# Remove duplicate rows
df.drop_duplicates(inplace=True)

#Removing unnecessary columns
columns_to_remove = [
    "City",
    "Signup_Quarter",
    "Lifetime_Value"
]

df.drop(columns=columns_to_remove, inplace=True)

print("\nShape after cleaning:", df.shape)
df.head()

Initial Shape: (50000, 25)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 25 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Age                            47505 non-null  float64
 1   Gender                         50000 non-null  object
 2   Country                        50000 non-null  object
 3   City                           50000 non-null  object
 4   Membership_Years               50000 non-null  float64
 5   Login_Frequency                50000 non-null  float64
 6   Session_Duration_Avg           46601 non-null  float64
 7   Pages_Per_Session              47000 non-null  float64
 8   Cart_Abandonment_Rate          50000 non-null  float64
 9   Wishlist_Items                 46000 non-null  float64
 10  Total_Purchases                50000 non-null  float64
 11  Average_Order_Value            50000 non-null  float64
 12  Days_Since_Last_Purchase       47000 non-null  float64
 13  Discount_Usage_Rate            46500 non-null  float64
 14  Returns_Rate                   45509 non-null  float64
 15  Email_Open_Rate                47472 non-null  float64
 16  Customer_Service_Calls         49832 non-null  float64
 17  Product_Reviews_Written        46500 non-null  float64
 18  Social_Media_Engagement_Score  44000 non-null  float64
 19  Mobile_App_Usage               45000 non-null  float64
 20  Payment_Method_Diversity       47500 non-null  float64
 21  Lifetime_Value                 50000 non-null  float64
 22  Credit_Balance                 44500 non-null  float64
 23  Churned                        50000 non-null  int64
 24  Signup_Quarter                 50000 non-null  object
dtypes: float64(20), int64(1), object(4)
memory usage: 9.5+ MB
None

Missing Values:
 Age                              2495
Gender                              0
Country                             0
City                                0
Membership_Years                    0
Login_Frequency                     0
Session_Duration_Avg             3399
Pages_Per_Session                3000
Cart_Abandonment_Rate               0
Wishlist_Items                   4000
Total_Purchases                     0
Average_Order_Value                 0
Days_Since_Last_Purchase         3000
Discount_Usage_Rate              3500
Returns_Rate                     4491
Email_Open_Rate                  2528
Customer_Service_Calls            168
Product_Reviews_Written          3500
Social_Media_Engagement_Score    6000
Mobile_App_Usage                 5000
Payment_Method_Diversity         2500
Lifetime_Value                      0
Credit_Balance                   5500
Churned                             0
Signup_Quarter                      0
dtype: int64

Shape after cleaning: (50000, 22)

,Age,Gender,Country,Membership_Years,Login_Frequency,Session_Duration_Avg,Pages_Per_Session,Cart_Abandonment_Rate,Wishlist_Items,Total_Purchases,...,Discount_Usage_Rate,Returns_Rate,Email_Open_Rate,Customer_Service_Calls,Product_Reviews_Written,Social_Media_Engagement_Score,Mobile_App_Usage,Payment_Method_Diversity,Credit_Balance,Churned
0,43.0,Male,France,2.9,14.0,27.4,6.0,50.6,3.0,9.0,...,46.40,2.0,17.9,9.0,4.0,16.3,20.8,1.0,2278.0,0
1,36.0,Male,UK,1.6,15.0,42.7,10.3,37.7,1.0,19.5,...,57.96,9.2,42.8,7.0,3.0,27.6,23.3,3.0,3028.0,0
2,45.0,Female,Canada,2.9,10.0,24.8,1.6,70.9,1.0,9.1,...,12.24,11.5,0.0,4.0,1.0,27.6,8.8,2.0,2317.0,0
3,56.0,Female,USA,2.6,10.0,38.4,14.8,41.7,9.0,15.0,...,44.10,5.4,41.4,2.0,5.0,85.9,31.0,3.0,2674.0,0
4,35.0,Male,India,3.1,29.0,51.4,8.4,19.1,9.0,32.5,...,25.20,5.5,37.9,1.0,11.0,83.0,50.4,4.0,5354.0,0

In [3]:
# Checking categorical columns and applying label encoding
from sklearn.preprocessing import LabelEncoder

#Finding categorical columns
cat_cols = df.select_dtypes(include=['object']).columns
print(cat_cols)

label_encoder = {}

for col in cat_cols:
    le = LabelEncoder()
    df[col] = le.fit_transform(df[col])
    label_encoder[col] = le
df[cat_cols].head()

Index(['Gender', 'Country'], dtype='object')

   Gender  Country
0       1        2
1       1        6
2       0        1
3       0        7
4       1        4

In [4]:
# Selecting numerical columns to apply standard scaling

import pandas as pd
from sklearn.preprocessing import StandardScaler

# Identify numerical columns (original numeric only)
numerical_cols = df.select_dtypes(include=['int64', 'float64']).columns

# OPTIONAL: remove label-encoded categorical columns if needed
# Example: categorical columns you encoded earlier
encoded_cat_cols = ['gender','city']  # change as per your data
numerical_cols = [col for col in numerical_cols if col not in encoded_cat_cols]

print("Numerical Columns for Scaling:", numerical_cols)

# Apply Standardization ONLY on numerical columns
Standard_scalar = StandardScaler()
df[numerical_cols] = Standard_scalar.fit_transform(df[numerical_cols])

# Final dataframe (categorical + scaled numerical)
print("Standardized DataFrame:")
print(df.head())

Numerical Columns for Scaling: ['Age', 'Gender', 'Country', 'Membership_Years', 'Login_Frequency', 'Session_Duration_Avg', 'Pages_Per_Session', 'Cart_Abandonment_Rate', 'Wishlist_Items', 'Total_Purchases', 'Average_Order_Value', 'Days_Since_Last_Purchase', 'Discount_Usage_Rate', 'Returns_Rate', 'Email_Open_Rate', 'Customer_Service_Calls', 'Product_Reviews_Written', 'Social_Media_Engagement_Score', 'Mobile_App_Usage', 'Payment_Method_Diversity', 'Credit_Balance', 'Churned']
Standardized DataFrame:
        Age    Gender   Country  Membership_Years  Login_Frequency  \
0  0.449670  0.902336 -0.969735         -0.040799         0.304118
1 -0.157149  0.902336  0.613454         -0.672148         0.432150
2  0.623047 -0.963614 -1.365533         -0.040799        -0.208008
3  1.576619 -0.963614  1.009252         -0.186495        -0.208008
4 -0.243837  0.902336 -0.178141          0.056331         2.224591

   Session_Duration_Avg  Pages_Per_Session  Cart_Abandonment_Rate  \
0             -0.019266          -0.741695              -0.397970
1              1.438275           0.431898              -1.190229
2             -0.266953          -1.942582               0.848763
3              1.028639           1.660078              -0.944567
4              2.267073          -0.086666              -2.332555

   Wishlist_Items  Total_Purchases  ...  Discount_Usage_Rate  Returns_Rate  \
0       -0.416436        -0.585925  ...             0.219642     -0.777562
1       -1.069915         0.910390  ...             0.780348      0.448591
2       -1.069915        -0.571674  ...            -1.437253      0.840279
3        1.544001         0.269112  ...             0.108083     -0.198545
4        1.544001         2.762969  ...            -0.808642     -0.181515

   Email_Open_Rate  Customer_Service_Calls  Product_Reviews_Written  \
0        -0.214209                1.242772                 0.534652
1         1.578436                0.494218                 0.091480
2        -1.502898               -0.628613                -0.794865
3         1.477645               -1.377168                 0.977824
4         1.225666               -1.751445                 3.636856

   Social_Media_Engagement_Score  Mobile_App_Usage  Payment_Method_Diversity  \
0                      -0.665654          0.168429                 -1.231912
1                      -0.080417          0.448109                  0.612019
2                      -0.080417         -1.174035                 -0.309946
3                       2.938988          1.309524                  0.612019
4                       2.788795          3.479841                  1.533984

   Credit_Balance  Churned
0        0.276395 -0.63755
1        0.925225 -0.63755
2        0.310134 -0.63755
3        0.618977 -0.63755
4        2.937463 -0.63755

[5 rows x 22 columns]